.form {
    background-color: blueviolet;
    padding: 1rem;
    width: 20rem;
    margin: 2rem auto;


}

.form label {
    display: block;
    margin-bottom: 0.05rem;
    color:aliceblue;
    font-weight: bold;
}

.form input,
.form textarea {
    display: block;
    width:100%;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

.actions button {
    cursor: pointer;
    font: inherit;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 4px;
    background-color: #34036c;
    color:aliceblue;
}