.form {
    background-color: blueviolet;
    padding: 1rem;
    width: 20rem;
    margin: 2rem auto;
    border-radius: 6px;
    box-shadow: 0 2px 8px gray;

}

.form label {
    display: block;
    margin-bottom: 0.05rem;
    color:aliceblue;
    font-weight: bold;
}
