.post {
    
    background-color: white;
    border-radius: 8px;


} 
.author {
    font-weight: bold;

    
    font-style: italic ;
    background-color: lightgreen; 
}
.text {        

    font-size: 1.25rem;

    color: lightblue;
    font-style: italic;
    background-color: lightgreen ;
}
 
@keyframes animate-in {
    from {
        opacity: 0;
        transform: translateY(1rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}