.post {
    
    background-color: white;
    border-radius: 8px;
    align-items: center;
    text-align: center;


} 
.author {
    font-weight: bold;
    font-style: italic ;
    background-color: lightgreen; 
}
.text {        

    font-size: 1.25rem;

    color: rgb(6, 59, 77);
    font-style: italic;
    background-color: lightgreen ;

}