.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: 10px 0;
  background-color: #f7f7f7;
  border-radius: 8px;
}

.author {
  font-weight: bold;
  font-style: italic;
  background-color: aquamarine;
  border-radius: 10px;
  padding: 8px 16px;
  margin-bottom: 10px;
  width: fit-content;
}

.text {
  font-size: 1.25rem;
  color: rgb(8, 15, 17);
  font-style: italic;
  background-color: aquamarine;
  border-radius: 10px;
  padding: 12px 16px;
  max-width: 500px;
  overflow-wrap: break-word;
}
